
/* -------------------*******  nav-bar css **************-------------------------*/
nav{
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 54.5px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 55px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.3);
  z-index: 1000;

}



a{
  position:relative;
  display: table;
  color:rgb(85, 83, 83);
  width: 300px;
  padding: 10px;
}

.home{
  position: relative;
  width: 40px;
  height: 25px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}

.name{
  position: relative;
  top: 12px;
  margin-left:10px;
}


nav:hover{
  width: 140px;
  transition: all 0.4s ease-out;
} 



.logged{
  position: absolute;
  bottom: 90px;
}